:root {
  --dark-blue: rgb(17, 40, 101);
  --blue: rgb(32, 79, 209);
  --orange: rgb(201, 96, 31);
}


* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    var(--dark-blue),
    var(--blue)
  );
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  background-color: white;
  border: 5px solid var(--orange);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  color: black;
  font-weight: bold;
  padding: 20px;
}

.button {
  background-color: var(--blue);
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: bold;
  margin: 20px;
  padding: 5px;
  width: 100%;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-blue);
  }
}

input {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border: 1px solid var(--orange);
}

.task {
  color: var(--blue);
}

.button-edit {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--orange);
  }
}

.button-delete {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 10px;
  padding: 5px;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--orange);
  }
}